:root {
    --primario: #161616;
    --primarioOscuro: #3d3d3d;
    --blanco: #FFFFFF;
    --rojo: #be0000;
    --amarillo: #dae721;
    --amarillooscuro: #868d27;

    --fuenteprincipal: 'Staatliches', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/** Globales **/

body{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.contenedor{
    max-width: 120rem;
    margin: auto;
    color: var(--rojo);
}


h1, h2, h3{
    text-align: center;
    color: var(--blanco);
    font-family: var(--fuenteprincipal);
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.4rem;
}

/*Header*/

.header{
    justify-content: center;
    display: flex;
}

.header__logo{
    margin: 3rem 0;
}

/*Navegación*/

.navegacion{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 3rem;   /*separaracion de tienda y nosotros*/
}

.navegacion__enlace{
    font-family: var(--fuenteprincipal);
    color: var(--blanco);
    font-size: 3rem;

}
.navegacion__enlace--activo,
.navegacion__enlace:hover{
    color: var(--rojo);
}

/*Footer*/

.footer{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__texto{
    text-align: center;
    font-family: var(--fuenteprincipal);
    font-size: 2rem;

}

/**Productos**/

.producto{
    background-color: var(--primarioOscuro);
    padding: 1rem;
}



.producto__nombre{
    font-size: 4rem;
}

.producto__precio{
    font-size: 2.8rem;
    color: var(--amarillo);
}

.producto__nombre,
.producto__precio{
    font-family: var(--fuenteprincipal);
    margin: 1rem 0;
    text-align: center;
}

/**Grid**/

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

}
@media (min-width: 768px) {
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

/**Graficos**/

.grafico{
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size:  cover;
    grid-column: 1/3;

}

.grafico--cuadros{
    grid-row: 2/3;
    background-image: url(../img/cuadros.jpg);
}

.grafico--cuadroperros{
    background-image: url(../img/perros.jpg);
    grid-row: 8/9;
}

@media (min-width: 768px) {
    .grafico--cuadroperros{
        grid-row: 5/6;
        grid-column: 2/4;
    }
}


/*Nosotros*/


/*grid row nos sirve para hacer dos filas una abajo y otra arriba*/
.nosotros{
    display: grid;
    grid-template-rows: repeat(2, auto);

}

@media (min-width: 768px) {
    .nosotros{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    
    }
}
/*coloca la img arriba*/
.nosotros__imagen{
    grid-row: 1 / 2;
}

/*coloca la img a la derecha utilizando grid colum*/
@media (min-width: 768px) {
    .nosotros__imagen{
        grid-column: 2 / 3;
    }
}

.nosotros__iconos{
    text-align: center;
    margin-top: 5rem;
}

/*Iconos*/

.bloques{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .bloques{
        grid-template-columns: repeat(4, 1fr);
        
    }
}

.bloque{
    text-align: center;
}

.bloque__titulo{
    margin: 0;
}


.comprar_titulo{
    margin-top: 8rem;
}


/*Pagina de Productos*/

@media (min-width: 768px) {
    .cuadro, .cuadro1, .cuadro2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
    
}

.formulario{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.formulario__campo{
    border: 1rem solid var(--primarioOscuro);
    background-color: transparent;
    color: var(--primarioOscuro);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    appearance: none;
}

.formulario__submit{
    background-color: var(--amarillo);
    border: none;
    font-size: 2rem;
    font-family: var(--fuenteprincipal);
    padding: 2rem;
    transition: font-size .3s ease;
    grid-column: 1/3;
}

.formulario__submit:hover{
    font-size: 2.4rem;
    cursor: pointer;
    background-color: var(--amarillooscuro);
}


